<div class="carousel-main carousel slide carousel-dark " data-bs-ride="carousel" id="carouselExample">
    <div class="carousel-inner">
        <app-carousel-item *ngFor="let item of items; let i = index" [data]="item" [active]="i === 0" ></app-carousel-item>
    </div>
    
    <button class="carousel-main-control-prev carousel-control-prev" type="button" data-bs-target="#carouselExample"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-main-control-next carousel-control-next" type="button" data-bs-target="#carouselExample"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
