.carousel-main-item {
    height: 100%;
    background: #000;
}

.carousel-main {
    
    overflow: visible;
}

.carousel-main-item img {
    opacity: 0.6;
}

.carousel-main-item span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.8em;
    text-align: center;
}

.carousel-main-control-prev {
    width: auto;
    left: -5%;
}

.carousel-main-control-next {
    width: auto;
    right: -5%;
}

@media (max-width: 1200px) {
    .carousel-main-control-prev {
        left: 2%;
        filter: invert(1);
    }

    .carousel-main-control-next {
        right: 2%;
        filter: invert(1);
    }

    .carousel-main {
        width: 100%;
    }
}
