<div class="catalog-content-conteiner">
  <div *ngFor="let productChunk of chunkedProducts; index as i" class="row justify-content-center">
    <app-product-card *ngFor="let product of productChunk; index as j" [product]="product" class="main-component"></app-product-card>
  </div>
</div>
