<footer class="py-5 bg-dark text-white btn-outline-light form-white container-fluid">
  <div class="row justify-content-center">
    <div class="footer-item col-6 col-md-2 mb-3">
      <h5>Информация</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-light">Главаня</a></li>
        <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0 text-light">Контакты</a></li>
        <li class="nav-item mb-2"><a routerLink="/about-us" class="nav-link p-0 text-light">О нас</a></li>
        <li class="nav-item mb-2"><a routerLink="/cart" class="nav-link p-0 text-light">Корзина</a></li>
      </ul>
    </div>

    <div class="footer-item col-6 col-md-2 mb-3">
      <h5>Каталог</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a routerLink="/catalog/special-equipment/1"
            class="nav-link p-0 text-light">Спецтехника</a></li>
        <li class="nav-item mb-2"><a routerLink="/catalog/attachments/1" class="nav-link p-0 text-light">Навесное
            оборудование</a></li>
        <li class="nav-item mb-2"><a routerLink="/catalog/road-equipment/1" class="nav-link p-0 text-light">Дорожное
            оборудование</a></li>
        <li class="nav-item mb-2"><a routerLink="/catalog/road-equipment/1"
            class="nav-link p-0 text-light">Материалы</a>
        </li>
      </ul>
    </div>

    <div class="footer-item col-6 col-md-2 mb-3">
      <h5>Контатная информация</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="tel: +79109208296" class="nav-link p-0 text-light">Телефон:
            +79109208296</a></li>
        <li class="nav-item mb-2"><a href="mailto: market@info-sst.ru"
            class="nav-link p-0 text-light">marketinfo-sst.ru</a></li>
        <li class="footer-inline nav-item mb-2">
          <a href="https://vk.com/" class="nav-link p-1 text-light">
            <img src="assets/file/vk-c.svg" alt="" class="footer-vk-icon" />
          </a>
          <a href="https://www.youtube.com/" class="nav-link p-1 text-light">
            <img src="assets/file/youtube-c.svg" alt="" class="footer-youtube-icon" />
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-item col-6 col-md-2 mb-3">
      <h5>Скачать наше приложение</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="https://www.apple.com/ru/Linkpp-store/" class="nav-link p-0 text-light">
            <img src="assets/file/app-store.svg" alt="" class="app-store" />
          </a></li>
        <li class="nav-item mb-2"><a href="https://play.google.com/store/games?hl=ru&gl=US"
            class="nav-link p-0 text-light">
            <img src="assets/file/google-play.svg" alt="" class="google-play" />
          </a></li>
      </ul>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© ТСК «Велес», 2013—2023</p>
      <a routerLink="#" class="nav-link p-0 text-light">Политика конфиденциальности</a>
    </div>
  </div>
</footer>