.product-img-container {
    padding: 0;
    width: 520px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.product-img-container img {
    width: 520px;
}

.product-container {
    width: auto;
    max-width: 700px;
    max-height: 390px;
    margin-left: 36px;
    display: flex;
    flex-direction: column;
}

.product-category {
    display: flex;
    align-items: center;
}

.product-category span {
    margin-left: 10px;
    font-size: 0.9em;
}

.product-ttx {
    max-width: 300px;
}

.product-ttx-other-container {
    max-width: 300px;
}

.product-action {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.product-action a {
    width: 100%;
}

.product-action button {
    width: 100%;
    height: 100%;
}

.product-action-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 16px;
}

.product-action-container span {
    margin-bottom: 6px;
}

.product-ttx-other-container span {
    font-weight: bold;
}

@media screen and (max-width: 1400px) { 
    .product-container {
        margin: 16px 0px 0px 0px;
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width: 510px) { 
    .product-action {
        flex-direction: column;
    }

    .product-action-container {
        margin: 0px;
        margin-bottom: 8px;
    }

    .product-img-container {
        padding: 0;
        width: 100%;
    }

    .product-img-container img {
        width: 100%;
    }

    .product-ttx-container {
        width: 100%;
    }
}
