<div class="product-main-base-container row justify-content-center">
  <div class="product-img-container">
    <img [src]="product.URLImage" />
  </div>
  <div class="product-container">
    <div class="product-category">
      <img src="assets/file/icon-tag.svg" />
      <span>{{ product.Category }}</span>
    </div>
    <h1 class="product-name fw-light">{{ product.Name }}</h1>
    <p class="product-price fw-light fs-2">{{ product.Price }}</p>
    <div class="product-ttx-container row justify-content-between">
      <div class="product-ttx">
        <p>{{ product.TTX1 }}</p>
        <p>{{ product.TTX2 }}</p>
      </div>
      <div class="product-ttx-other-container">
        <p class="product-brand"><span>Бренд: </span>{{ product.Brand }}</p>
        <p class="product-code"><span>Код товара: </span>#{{ product.ID }}</p>
        <p class="product-count"><span>Наличие: </span>{{ product.Count }} штук</p>
      </div>
    </div>
    <div class="product-action">
      <div class="product-action-container">
        <span>Количество</span>
        <input (keyup)="onInputQuantity($event)" type="number" min="1" max="100" value="1" />
      </div>
      <button type="button" class="btn btn-warning text-white" (click)="addToCart()">Купить</button>
    </div>
  </div>
</div>