<header class="p-3 text-bg-dark">
    <div class="main container">
        <div class="header-category">
            <div class="dropdown">
                <button class="category-button btn btn-secondary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/file/icon-burger-menu.svg" alt="" class="category-button" />
                    <span class="text-light">Категории</span>
                </button>
                <div class="category-contaier dropdown-menu">
                    <div class="category-row">
                        <app-header-catalog-item class="header-category-item" [name]="'Спецтехника'"
                            [imgSrc]="'assets/file/category-special-equipment.png'" [imgAlt]="'Спецтехника образец'"
                            [link]="'catalog/special-equipment/1'"></app-header-catalog-item>
                        <app-header-catalog-item class="header-category-item" [name]="'Навесное оборудование'"
                            [imgSrc]="'assets/file/category-attachments.png'" [imgAlt]="'Навесное оборудование образец'"
                            [link]="'catalog/special-attachments/1'"></app-header-catalog-item>
                    </div>
                    <div class="category-row">
                        <app-header-catalog-item class="header-category-item" [name]="'Дорожное оснащение'"
                            [imgSrc]="'assets/file/category-road-equipment.png'" [imgAlt]="'Дорожное оснащение образец'"
                            [link]="'catalog/road-equipment/1'"></app-header-catalog-item>
                        <app-header-catalog-item class="header-category-item" [name]="'Материалы'"
                            [imgSrc]="'assets/file/category-materials.png'" [imgAlt]="'Материалы оборудование образец'"
                            [link]="'catalog/materials/1'"></app-header-catalog-item>
                    </div>
                </div>
            </div>
        </div>
        <a routerLink="/" class="link-home"><img src="assets/file/logo.svg" alt="логотип" class="logo" /></a>
        <a routerLink="/cart" class="card-header"><img [src]="imgCard" alt="корзина" class="card-header" /></a>
    </div>
    <nav class="menu-header navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler-mobile navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample01">
                <ul class="navbar-nav me-auto mb-2">
                    <li class="nav-item">
                        <a routerLink="category" class="nav-link">Каталог</a>
                    </li>
                    <ul class="me-auto mb-2 sub-list">
                        <li class="nav-item">
                            <a routerLink="catalog/special-equipment/1" class="nav-link">Спецтехника</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="catalog/special-attachments/1" class="nav-link">Навесное оборудование</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="catalog/road-equipment/1" class="nav-link">Дорожное оснащение</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="catalog/materials/1" class="nav-link">Материалы</a>
                        </li>
                    </ul>
                    <li class="nav-item">
                        <a routerLink="about-us" class="nav-link">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="contact" class="nav-link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar-expand-md navbar-dark navbar-main">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-md-center">
                <ul class="navbar-nav">
                    <li class="nav-item-padding nav-item">
                        <a routerLink="category" class="nav-link">Весь каталог</a>
                    </li>
                    <li class="nav-item-padding nav-item">
                        <a routerLink="about-us" class="nav-link">О нас</a>
                    </li>
                    <li class="nav-item-padding nav-item">
                        <a routerLink="contact" class="nav-link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
