.contact-list li {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.contact-list img {
    margin-right: 10px;
}

.contact-container {
    display: flex;
    flex-direction: row;
}

.contact-container-item {
    width: 300px
}

.sub-list {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.sub-list li {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}