<main class="container-xl">
    <h1 class="p-3 text-center">Контакты</h1>
    <div class="contact-container row justify-content-center p-3">
        <div class="contact-container-item col-6 col-md-2 mb-3">
            <h5>Общие вопросы</h5>
            <ul class="contact-list sub-list flex-column">
                <li class="mb-2">
                    <img src="assets/file/email.svg" alt="" />
                    <a href="mailto:market@info-sst.ru" class="nav-link text-dark">market.info-sst.ru</a>
                </li>
                <li class="mb-2">
                    <img src="assets/file/vk.svg" alt="" />
                    <a href="https://vk.com/" class="nav-link text-dark">ВКонтакте</a>
                </li>
                <li class="mb-2">
                    <img src="assets/file/youtube.svg" alt="" />
                    <a href="https://www.youtube.com/" class="nav-link text-dark">Youtube</a>
                </li>
            </ul>
        </div>

        <div class="contact-container-item col-6 col-md-2 mb-3">
            <h5>Гипермаркет "Кран"</h5>
            <ul class="sub-list flex-column">
                <li class="mb-2"><span>ООО КРАН</span></li>
                <li class="mb-2"><span>ИНН 4027144871 / КПП 402701001</span></li>
                <li class="mb-2"><span>ОГРН 1204000009531</span></li>
            </ul>
        </div>
    </div>
</main>