.main-block-2 {
    display: flex;
    flex-direction: row;
    margin: 48px 0px;
}

.main-block-2 img {
    max-height: 314px;
    max-width: 652px;
    width: 100%;
}

@media (max-width: 1200px) {
    .main-block-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-block-2-container h2 {
        text-align: center;
    }
}

.main-block-2-container {
    display: flex;
    flex-direction: column;
    margin-right: 36px;
}