<div [ngClass]="{
        'active': active, 
        'carousel-main-item carousel-item': true
    }">
    <a [routerLink]="link">
        <img [src]="img" class="d-block w-100" [alt]="title" />
        <span class="font-weight-light text-white">{{title}}</span>
    </a>
</div>
