.main-block-3 {
    margin: 0px 0px 48px 0px;
    justify-content: center;
}


.main-block-3-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0px 50px;

    width: 200px;
}

.main-block-3-card img {
    width: 90px;
    height: 90px;
}

.main-block-3-card h3 {
    text-align: center;
}

.main-block-3-card span {
    color: #999;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}