<div class="main-card card">
  <div class="main-card-body card-body">
    <img (click)="openModal()" [src]="URLImage" class="main-card-img card-img-top" />
    <span class="main-card-category">{{ Category }}</span>
    <a [routerLink]="Url" class="main-card-name text-black">
      <h5>{{ Name }}</h5>
    </a>
    <div class="main-card-ttx">
      <p>{{ TTX1 }}</p>
      <p>{{ TTX2 }}</p>
    </div>
    <span class="main-card-price">{{ PriceVisible }}</span>
  </div>
</div>
<app-my-modal [visible]="modalOpen" *ngIf="modalOpen">
  <app-product-modal-card [product]="product" (close)="closeModal()"></app-product-modal-card>
</app-my-modal>