<div *ngIf="products.length === 0">
    <h2 class="m-3 text-center card-empty">Пока не был добавлен ни один товар</h2>
</div>
<div *ngIf="products.length > 0">
    <button type="button" class="table-delete-item-mobile btn btn-danger text-white" (click)="onDeleteAll()">Удалить
        все</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
                <th scope="col">Стоимость</th>
                <th scope="col" class="table-delete-item">
                    <button type="button" class="btn btn-danger text-white" (click)="onDeleteAll()">Удалить все</button>
                </th>
            </tr>
        </thead>
        <tbody class="tbody-main">
            <tr app-card-product class="table-td" *ngFor="let product of products; index as i" [product]="product"
                (onDelete)="onDelete($event)" (onQuantityChange)="onQuantityChange($event)"></tr>
        </tbody>
    </table>
    <div class="table-mobile">
        <app-card-product-mobile *ngFor="let product of products; index as i"
            [product]="product" (onDelete)="onDelete($event)" (onQuantityChange)="onQuantityChange($event)"></app-card-product-mobile>
    </div>
    <div class="card-end-block">
        <p class="cart-cost">{{costView}}</p>
        <button type="button" class="btn btn-warning text-white cart-btn" (click)="onBuy()">Купить</button>
    </div>
</div>