<div class="table-item-mobile">
    <div class="table-product-mobile">
        <a [routerLink]="['/product', ID]">
            <img [src]="UrlImage" alt="" class="table-product-img" />
            <p class="table-product-p-mobile text-black">{{Name}}</p>
        </a>
        <button type="button" class="table-delete-item delete-item-btn" (click)="del(product)">×</button>
    </div>
    <div class="table-product-data">
        <p>Количество</p>
        <button class="card-quantity-action card-quantity-lower delete-item-btn"
            (click)="quantityChange(product, -1)">-</button>
        <span>{{product.Quantity}}</span>
        <button class="card-quantity-action card-quantity-upper delete-item-btn"
            (click)="quantityChange(product, 1)">+</button>
    </div>
    <div class="table-product-data">
        <p>Цена</p>
        <span class="table-product-price">{{PriceView}}</span>
    </div>
    <div class="table-product-data">
        <p>Стоимость</p>
        <span class="table-product-cost">{{CostView}}</span>
    </div>
</div>
