<main class="product-main-container container-xl p-3">
    <nav class="breadcrumb-main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Главная</a></li>
            <li class="breadcrumb-item"><a routerLink="/category">Каталог</a></li>
            <li class="breadcrumb-item"><a [routerLink]="urlCategory" class="breadcrumb-product-category">{{category}}</a></li>
            <li class="breadcrumb-item active breadcrumb-product" aria-current="page">{{name}}</li>
        </ol>
    </nav>
    <div class="product-content-container">
        <app-product-details-component [product]="product"></app-product-details-component>
    </div>
</main>

