<nav class="pagination-category">
  <ul class="pagination justify-content-center">
    <li *ngFor="let i of pages; index as idx" [ngClass]="{'page-item': true, 'disabled': i == active}">
      <p class="page-link text-warning" [routerLink]="path + i" (click)="onPageChange(i)">{{i}}</p>
    </li>
  </ul>
</nav>
