<main class="container-xl p-3">
    <nav class="breadcrumb-main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Каталог</li>
        </ol>
      </nav>
      <div>
        <div class="row justify-content-center">
            <a class="category-item text-black" routerLink="/catalog/special-equipment/1">
                <img src="assets/file/category-special-equipment-xl.png" alt="Спецтехника образец"
                    class="header-category-item" />
                <span class="header-category-item">Спецтехника</span>
            </a>
            <a class="category-item text-black" routerLink="/catalog/special-attachments/1">
                <img src="assets/file/category-attachments-xl.png" alt="Навесное оборудование образец"
                    class="header-category-item" />
                <span class="header-category-item">Навесное оборудование</span>
            </a>
        </div>
        <div class="row justify-content-center">
            <a class="category-item text-black" routerLink="/catalog/road-equipment/1">
                <img src="assets/file/category-road-equipment-xl.png" alt="Дорожное оснащение образец"
                    class="header-category-item" />
                <span class="header-category-item">Дорожное оснащение</span>
            </a>
            <a class="category-item text-black" routerLink="/catalog/materials/1">
                <img src="assets/file/category-materials-xl.png" alt="Материалы оборудование образец"
                    class="header-category-item" />
                <span class="header-category-item">Материалы</span>
            </a>
        </div>
      </div>
</main>