
<main class="container-xl container-main">
    <h1 class="main-title font-weight-light">Продажа строительной техники, дорожных материалов и навесного оборудования
        по России</h1>
    <app-carousel [items]="carouselItems"></app-carousel>
    <app-home-about-us [title]="aboutUsTitle" [description]="aboutUsDiscription"></app-home-about-us>
    <app-home-mst [title]="MSTTitle" [description]="MSTDiscription" [img]="MSTImg"></app-home-mst>
    <app-home-benefits [items]="benefitsItems"></app-home-benefits>
    <app-home-product-card></app-home-product-card>
</main>