.main-block-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.main-block-4-title {
    margin-bottom: 26px;
    text-align: center;
}
.main-block-4-component {
    width: auto;
}