<section class="main-block-4">
    <h2 class="main-block-4-title">Популярная спецтехника от производителя</h2>
    <div class="row justify-content-center">
        <app-product-card [product]="product1" class="main-block-4-component"></app-product-card>
        <app-product-card [product]="product2" class="main-block-4-component"></app-product-card>
        <app-product-card [product]="product3" class="main-block-4-component"></app-product-card>
        <app-product-card [product]="product4" class="main-block-4-component"></app-product-card>
    </div>
</section>