<main class="container-xl">
    <h1 class="p-3 text-center">О нас</h1>
    <div class="paralax"></div>
    <p>
        Мы – ведущая компания, специализирующаяся на продаже спецтехники, навесного оборудования для спецтехники,
        дорожного оснащения и материалов для дорожных работ. С нашим богатым опытом и профессионализмом, мы предлагаем
        инновационные решения, которые помогут вам эффективно решать самые сложные задачи в сфере строительства и
        дорожного строительства.
        Наша компания стремится быть вашим надежным партнером, обеспечивая только высококачественную технику и
        оборудование. Мы работаем с ведущими мировыми производителями, чтобы предложить вам самые передовые и надежные
        продукты на рынке. Наш ассортимент охватывает широкий спектр спецтехники и навесного оборудования, таких как
        экскаваторы, погрузчики, бульдозеры, автогрейдеры, а также различные виды ручного и гидравлического инструмента.
        Помимо продажи техники и оборудования, мы также предлагаем широкий выбор дорожного оснащения и материалов для
        дорожных работ. У нас вы найдете дорожную маркировку, барьеры, ограждения, трубы, асфальт, бетон и многое другое.
        Мы гордимся тем, что можем удовлетворить потребности наших клиентов в полной комплектации для строительства и
        обустройства дорог и инфраструктуры.
        Наша команда состоит из опытных профессионалов, готовых помочь вам подобрать оптимальное решение для ваших
        потребностей. Мы стремимся установить долгосрочные отношения с нашими клиентами, предлагая не только
        высококачественную продукцию, но и надежное послепродажное обслуживание. Ваш успех – наша главная цель!
        Если вам требуется спецтехника, навесное оборудование, дорожное оснащение или материалы для дорожных работ,
        обращайтесь к нам. Мы с радостью поможем вам достичь ваших целей и реализовать ваши проекты
    </p>
</main>