.paralax {
    background-image: url(../../../assets/file/parallax.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 488px;
    background-position: bottom 431px right 0px;
    margin: 16px 0px;
}