<main class="container-xl p-3">
    <h1 class="h1-product-category text-center m-5 fw-light">{{ category.Category }}</h1>
    <nav class="breadcrumb-main">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Главная</a></li>
        <li class="breadcrumb-item"><a routerLink="/category">Каталог</a></li>
        <li class="breadcrumb-item active breadcrumb-product-category" aria-current="page">{{ category.Category }}</li>
      </ol>
    </nav>
    <div class="catalog-content-conteiner">
      <app-product-card-grid [products]="products" [rows]="row" [columns]="columns"></app-product-card-grid>
      <app-pagination *ngIf="countPage !== 1" [count]="countPage" [active]="page" (pageChange)="onPageChange($event)" [path]="'/catalog/' + category.CategoryID + '/'"></app-pagination>
    </div>
  </main>
  