<div [ngClass]="{
    'myModal-active': visible,
     'myModal': true
     }" (click)="closeModal()">
    <div class="myModalContent" (click)="$event.stopPropagation()">
        <ng-content></ng-content>
    </div>
</div>