<div class="main-modal modal-dialog">
  <div class="main-modal-content modal-content p-3">
      <div class="main-modal-content-contaiter">
          <div class="main-modal-content-1">
              <img [src]="product.URLImage" class="modal-main-img" />
          </div>
          <div class="main-modal-content-2">
              <h2>{{product.Name}}</h2>
              <p class="main-modal-price">{{PriceVisible}}</p>
              <div class="modal-main-ttx-container">
                  <div class="modal-main-ttx">
                      <h6 class="modal-main-ttx-title">Характеристики</h6>
                      <div class="modal-main-ttx-text">{{TTX1}}</div>
                      <div class="modal-main-ttx-text">{{TTX2}}</div>
                  </div>
                  <div class="modal-main-ttx">
                      <h6 class="modal-main-ttx-title">Бренд</h6>
                      <div class="modal-main-ttx-text">{{Brand}}</div>
                  </div>
                  <div class="modal-main-ttx">
                      <h6 class="modal-main-ttx-title">Код товара</h6>
                      <div class="modal-main-ttx-text">#{{ID}}</div>
                  </div>
                  <div class="modal-main-ttx">
                      <h6 class="modal-main-ttx-title">Количество</h6>
                      <div class="modal-main-ttx-text">{{Count}} штук</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-main-action">
          <div class="modal-main-action">
              <div class="modal-main-count-container">
                  <span>Количество</span>
                  <input (keyup)="onInputQuantity($event)" type="number" min="1" max="100" value="1" />
              </div>
              <div class="modal-main-action-container">
                  <a routerLink="/cart">
                      <button type="button" class="btn btn-warning text-white" (click)="addToCart()">Купить</button>
                  </a>
                  <a [routerLink]="['/product', product.ID]">
                      <button type="button" class="btn btn-warning text-white">Подробнее</button>
                  </a>
              </div>
          </div>
      </div>
      <button type="button" class="main-modal-close" (click)="closeModal()">×</button>
  </div>
</div>
