<th scope="row">
    <a [routerLink]="['/product', product.ID]" class="table-product">
        <img [src]="product.URLImage" alt="" class="table-product-img" />
        <p class="table-product-p text-black">{{product.Name}}</p>
    </a>
</th>
<td class="table-product-quantity table-td">
    <button class="card-quantity-action-d card-quantity-lower delete-item-btn"
        (click)="quantityChange(product, -1)">-</button>
    <span>{{quantity}}</span>
    <button class="card-quantity-action-d card-quantity-upper delete-item-btn"
        (click)="quantityChange(product, 1)">+</button>
</td>
<td class="table-product-price">{{priceView}}</td>
<td class="table-product-cost">{{costView}}</td>
<td class="table-delete-item">
    <button type="button" class="delete-item-btn" (click)="del(product)">×</button>
</td>
